@*Joseph Steed: 26 Jan 2021*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <!--Custom stylesheet-->
    <link href="~/css/StyleSheet.css" rel="stylesheet" />

    <!--My favicon icon for the title-->
    <link rel="icon" type="image/png" href="~/img/angularicon1.png">

</head>
<body>
    <h1>@ViewBag.Name</h1>
    <menu>
        <ul>
            <li>
                <a asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li>
                <a asp-controller="Home" asp-action="Calculator">Calculator</a>
            </li>
        </ul>
    </menu>
    @RenderBody()
    <!--Custom script-->
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>