@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Joseph Steed's first asp.net app";
    ViewBag.Name = "Joseph Steed";
}

<body>
    <!--A picture of yourself doing something you enjoy-->
    <img id="image1" src="~/img/meInABus.jpg" alt="Joseph Steed sitting in the driver's seat of a bus" />

    <p>I hope that in this class, I am able to really understand how the MVC structure works, and how certain types of applications scale. I hope to be able to build applications that actually scale considerably. If possible, I want to assess if .Net core is more useful for angular or react, or if there is a more useful backend.</p>

    <h2>Top #3 jobs I am most interested in pursuing when I graduate:</h2>
    <!--Top 3 jobs as a list-->
    <ol>
        <li>Database researcher at a firm that wants to unify collaboratively collected information.</li>
        <li>Create the business that wants to unify collaboratively collected information.</li>
        <li>Teach in junior high or high school.</li>
    </ol>
</body>
