body {
    font-family: Arial;
}

li {
    font-size: 18px;
    list-style-type: none;
}

img {
    max-height:250px;
}

label {
    font-size: 21px;
    width: 200px;
    display:inline-block;
}

#asp-validation-summary {
    color: red;
}