body {
    font-family: Arial;
}

h1, h2, h3 {
}

ol {

}

li {
    font-size: 18px;
}

img {
    max-height:250px;
}

label {
    font-size: 21px;
    width: 100px;
    display:inline-block;
}